<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>wooooo！＃……％&amp;¥</string>
	<string>草帽路飞</string>
	<string>艾斯</string>
	<string>弗兰奇</string>
	<string>索隆</string>
	<string>雷利</string>
	<string>乔巴～</string>
	<string>lovest</string>
	<string>香克斯</string>
</array>
</plist>
